<div class="main-content">
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.0/css/bootstrap.min.css">
    <link rel="stylesheet" href="https://unpkg.com/bootstrap-material-design@4.1.1/dist/css/bootstrap-material-design.min.css" integrity="sha384-wXznGJNEXNG1NFsbm0ugrLFMQPWswR3lds2VeinahP8N0zJw9VWSopbjv2x7WCvX" crossorigin="anonymous">

    <div class="container-fluid">
      <br/><br/><br/>
<div class="text-center " >
  <button *ngIf="!report" class="btn mat-button" (click)="report = true">Generate Reports</button>
  <div class="row"  *ngIf="report"    style="margin: 40px">
    <div class="col-md">
    <mat-select class="text-primary" placeholder="Type"   [(ngModel)]="type">
      <mat-option  value="MxZKVW4SNcynUTz8qeCf">Installations
      </mat-option>
      <mat-option value="elYBu65Xzz1HeOCKiGQ4">Repairs
      </mat-option>
      <mat-option value="Nv6jvwKa5c7lyB5TaNOj">Removal
      </mat-option>
    </mat-select>
  </div>

    <div class="col-md">
      <mat-select class="text-primary" placeholder="Period"   [(ngModel)]="dateRange"  >
        <mat-option value="{{now}}">Daily
        </mat-option>


      </mat-select>
    </div>
  </div>
  <button *ngIf="report"    class="btn mat-button" (click)="generate()">Generate </button>
    <button *ngIf="data" class="btn mat-button text-center" (click)="downloadPdf()">Export to PDF</button>
  <div *ngIf="data" >


      <table  id="dt" class="table table-striped">
    <thead class="thead-light">

    <tr>
      <th >Device Serial</th>
      <th>Device Type</th>
      <th>Object Name</th>
      <th>Make </th>
      <th>Model</th>
      <th>ICCID</th>
      <th>Service Number</th>
      <th>Customer Name </th>
      <th>Date</th>
      <th>Technician Name</th>
      <th>Confirmed By</th>



    </tr>
    </thead>
    <tbody>
    <tr *ngFor="let record of reports">

        <td>{{record.deviceserial}}</td>
        <td>{{record.devicetype}}</td>
        <td>{{record.objectname}}</td>
        <td>{{record.make}}</td>
        <td>{{record.model}}</td>
        <td>{{record.ICCID}}</td>
        <td>{{record.servicenumber}}</td>
        <td>{{record.customername}}</td>
        <td >{{record.date|date:'mediumDate'}} </td>
        <td>{{record.technicianname}}</td>
        <td>{{record.confirmedby}}</td>






    </tr>

    </tbody>
  </table>
  </div>
</div>
        <div class="row">
            <div class="col-lg-3 col-md-6 col-sm-6"   *ngFor=" let t of menus" >

              <div  class="card card-stats">
                 <div   (click)="navTocards(t)"class="card-header card-header-primary card-header-icon">
                  <div class="card-icon">
                    <i *ngIf="t.title=='REPAIR'" class="material-icons">construction</i>
                    <i *ngIf="t.title=='REMOVAL'" class="material-icons">clear</i>
                    <i *ngIf="t.title=='INSTALLATION'" class="material-icons">settings</i>


                  </div>
                <p class="card-category">{{t.title}}</p>
                </div>
         <div *ngIf="role == 'Admin'">
                <div *ngIf="t.title=='REPAIR'" class="stats" style="margin-top:30px; align-self: center;" (click)="assg(t)"
                     data-toggle="modal" data-target="#repairModal">
                    <i class="material-icons " >note_add</i>
                    <a >Add </a>

                </div>

                <div *ngIf="t.title=='REMOVAL'" class="stats" style="  margin-top:30px;  align-self: center;" (click)="assg(t)"
                     data-toggle="modal" data-target="#removeModal">
                  <i class="material-icons " >note_add</i>
                  <a >Add </a>

                </div>

                 <div  *ngIf="t.title=='INSTALLATION'"  class="stats" style="  margin-top:30px;  align-self: center;" (click)="assg(t)"
                            data-toggle="modal" data-target="#exampleModal">
                <i class="material-icons " >note_add</i>
                <a >Add </a>

              </div>
</div>

              </div>
            </div>



    </div>
</div>
</div>
<div class="modal fade" id="exampleModal" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="true">
  <div class="modal-dialog" role="document">
    <div class="modal-content">
      <div class="modal-header">
        <h5 class="modal-title" id="exampleModalLabel">Add </h5>
        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
          <span aria-hidden="true">&times;</span>
        </button>
      </div>
      <div class="modal-body">
        <div class="card-body">

          <div class="form-group">

            <input class="form-control form-control-lg" [(ngModel)]="deviceserial" maxlength="15" type="number" placeholder="Device Serial" autocomplete="on">
            <input class="form-control form-control-lg" [(ngModel)]="devicetype" type="text" placeholder="Device Type" autocomplete="on">
            <input class="form-control form-control-lg" [(ngModel)]="objectname" type="text" placeholder="Object Name" autocomplete="on">
            <input class="form-control form-control-lg" [(ngModel)]="make" type="text" placeholder="Make" autocomplete="on">
            <input class="form-control form-control-lg" [(ngModel)]="model" type="text" placeholder="Model" autocomplete="on">
             <input class="form-control form-control-lg" [(ngModel)]="ICCID" type="number" placeholder="ICCID" autocomplete="on">
            <input class="form-control form-control-lg" [(ngModel)]="servicenumber" type="number" placeholder="Service Number" autocomplete="on">
            <input class="form-control form-control-lg" [(ngModel)]="customername" type="text" placeholder="Customer Name" autocomplete="on">
            <input matInput [matDatepicker]="picker" [(ngModel)]="date" placeholder="Date" (click)="picker.open()">
            <mat-datepicker-toggle matSuffix [for]="picker"></mat-datepicker-toggle>
            <mat-datepicker #picker></mat-datepicker>

            <input class="form-control form-control-lg" [(ngModel)]="technicianname" type="text" placeholder="Technician Name" autocomplete="on">
            <input class="form-control form-control-lg" [(ngModel)]="confirmedby" type="text" placeholder="Confirmed By" autocomplete="on">

          </div>



        </div>

      </div>
      <div class="modal-footer">
        <button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
        <button type="button" class="btn btn-primary"  (click)="save()">Save changes</button>
      </div>
    </div>
  </div>
</div>


<div class="modal fade" id="repairModal" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="true">
  <div class="modal-dialog" role="document">
    <div class="modal-content">
      <div class="modal-header">
        <h5 class="modal-title" id="repairModalLabel">Add </h5>
        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
          <span aria-hidden="true">&times;</span>
        </button>
      </div>
      <div class="modal-body">
        <div class="card-body">

          <div class="form-group">

            <input class="form-control form-control-lg" [(ngModel)]="deviceserial" type="number"  maxlength="15" placeholder="Device Serial" autocomplete="on">
            <input class="form-control form-control-lg" [(ngModel)]="devicetype" type="text" placeholder="Device Type" autocomplete="on">
            <input class="form-control form-control-lg" [(ngModel)]="objectname" type="text" placeholder="Object Name" autocomplete="on">
            <input class="form-control form-control-lg" [(ngModel)]="make" type="text" placeholder="Make" autocomplete="on">
            <input class="form-control form-control-lg" [(ngModel)]="model" type="text" placeholder="Model" autocomplete="on">
            <input class="form-control form-control-lg" [(ngModel)]="ICCID" type="number" placeholder="ICCID" autocomplete="on">
            <input class="form-control form-control-lg" [(ngModel)]="servicenumber" type="number" placeholder="Service Number" autocomplete="on">
            <input class="form-control form-control-lg" [(ngModel)]="customername" type="text" placeholder="Customer Name" autocomplete="on">
            <input matInput [matDatepicker]="picker2" [(ngModel)]="date" placeholder="Date" (click)="picker.open()">
            <mat-datepicker-toggle matSuffix [for]="picker2"></mat-datepicker-toggle>
            <mat-datepicker #picker2></mat-datepicker>
            <input class="form-control form-control-lg" [(ngModel)]="technicianname" type="text" placeholder="Technician Name" autocomplete="on">
            <input class="form-control form-control-lg" [(ngModel)]="confirmedby" type="text" placeholder="Confirmed By" autocomplete="on">

          </div>



        </div>

      </div>
      <div class="modal-footer">
        <button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
        <button type="button" class="btn btn-primary" data-dismiss="modal" (click)="saveRepair()">Save changes</button>
      </div>
    </div>
  </div>
</div>

<div class="modal fade" id="removeModal" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="true">
  <div class="modal-dialog" role="document">
    <div class="modal-content">
      <div class="modal-header">
        <h5 class="modal-title" id="removeModalLabel">Add </h5>
        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
          <span aria-hidden="true">&times;</span>
        </button>
      </div>
      <div class="modal-body">
        <div class="card-body">

          <div class="form-group">

            <input class="form-control form-control-lg" [(ngModel)]="deviceserial" maxlength="15" type="number" placeholder="Device Serial" autocomplete="on">
            <input class="form-control form-control-lg" [(ngModel)]="devicetype" type="text" placeholder="Device Type" autocomplete="on">
            <input class="form-control form-control-lg" [(ngModel)]="objectname" type="text" placeholder="Object Name" autocomplete="on">
            <input class="form-control form-control-lg" [(ngModel)]="make" type="text" placeholder="Make" autocomplete="on">
            <input class="form-control form-control-lg" [(ngModel)]="ICCID" type="number" placeholder="ICCID" autocomplete="on">
            <input class="form-control form-control-lg" [(ngModel)]="servicenumber" type="number" placeholder="Service Number" autocomplete="on">
            <input class="form-control form-control-lg" [(ngModel)]="customername" type="text" placeholder="Customer Name" autocomplete="on">
            <input matInput [matDatepicker]="picker3" [(ngModel)]="date" placeholder="Date" (click)="picker.open()">
            <mat-datepicker-toggle matSuffix [for]="picker3"></mat-datepicker-toggle>
            <mat-datepicker #picker3></mat-datepicker>
            <input class="form-control form-control-lg" [(ngModel)]="technicianname" type="text" placeholder="Technician Name" autocomplete="on">
            <input class="form-control form-control-lg" [(ngModel)]="confirmedby" type="text" placeholder="Confirmed By" autocomplete="on">

          </div>



        </div>

      </div>
      <div class="modal-footer">
        <button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
        <button type="button" class="btn btn-primary" data-dismiss="modal" (click)="saveRemove()">Save changes</button>
      </div>
    </div>
  </div>
</div>
